.root {

}
body {
    font-family: 'roboto' sans-serif, 'Raleway' sans-serif;
    color: #212121;
    max-width: 1600px;
}
ul{list-style: none;}

.head {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 80px;
    padding-top: 24px;
}
.menu {
    display: flex;
    flex-direction: row;
    margin-left: 453px;
    margin-top: 0;
}
.menu-list {
    margin-right: 50px;
}
.menu-list1 {
    color: #2196F3;
}
.studio {
    color: #2196F3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.portfolio, .kontact-in-header {color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.span1 {color: #000000;}
.headcontacts {
    display: flex;
    flex-direction: row;
}
.headmail {
    color: #2196F3;
    margin-right: 50px;
}
.headtel {
    color: #757575;
}
.button-item {
    color: F5F4FA;
}
.main-content {
    width: 1360px;
    text-align: center;
}
.main-content-list {
    flex-wrap: wrap;
    flex-direction: row;

}
.projects-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}
.projects-text {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.project {
    width: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.projects-content {
    margin-left: 30px;
    margin-top: 30px;
}

footer {
    background-color: #2F303A;
    padding-top: 60px;
    height: 252px;
}
.contacts {
    padding:0;
    margin:0;
    margin-left: 215px;
    margin-top: 20px;
}
.address {
    color: #fff;
    margin-bottom: 0;

}
.mail, .tel {
    color: #fff;
    opacity: 0.6;
}
.address-list {
    margin-top: 0;
    margin-bottom: 9px;
}
.web {font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196F3;
    margin-left: 215px;
}
span {
    color: #fff;
}